*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 4.0em;
    font-family: monospace;
    font-weight: bold;
}
.wrapper {
  display: flex;
  justify-content: center;

}

.container {
    height: 750px;
    width: 750px;
    margin-top: 20px;
    margin-right: 160px;
    display: flex;
    flex-wrap: wrap;
}

.gridSquare {
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
}

.controls {
    width: 120px;
    height: 750px;
    margin: 20px 40px;
    display: relative;
}

.nav {
    display: absolute;
    top: 20px;
}
.buttons {
    position: absolute;
    top: 350px;
    width: 120px;
}

button {
    width: 120px;
    height: 60px;
    text-align: center;
    border: none;
    margin: 10px;

}
button:hover {
    cursor: pointer;
}