*{
    box-sizing: border-box;
}

body {
    background-color: firebrick;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    height: 500px;
    width: 500px;
    background: grey;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
}

.gridSquare {
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
}

.clear-button {
    width: 140px;
    height: 60px;
    text-indent: -9999px;
    margin-top: 70px;
    background: firebrick;
    background-image: url(images/clear_btn.png);
    background-size: cover;
    background-position: center;
    border: 2px solid gold;
    border-radius: 5px;
    color: gold;
    font-size: 1.6em;
}